<students>
    <div th:if="${ not#lists.isEmpty(students)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:if="${student.id}"><a class="btn btn-info" th:href="@{/student/{id}(id=${student.id})}">Edit</a>
                    <button type="button" class="btn btn-danger" th:id="${student.id}"
                            name="deleteStudent"><i class="remove user icon"></i>
                        Delete</button>
                    <a class="btn btn-primary" th:href="@{/assignment/{id}(id=${student.id})}">Assignments</a>
                </td>

            </tr>
            </tbody>
            </table>
    </div>
    <div th:if="${ #lists.isEmpty(students)}">
    No Students found!
    </div>
    <a href="/student/new" class="btn btn-primary" role="button">Create new Student</a>
    <script type="text/javascript">
        $("[name='deleteStudent']").click(function() {
            var urlCall = "/student/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'DELETE',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/student");
                },
                error : function(result) {
                    console.log(result);
                },
            });
        });
    </script>

</students>